.pricing{
    width: 100%;
    background: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pricing-wrapper{
    width: 1170px;
    margin: 0 auto;
    padding: 0 14px;
}

.pricing-article-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.pricing-article{
    width: 369px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    transition: .5s;
}

.pricing-article:hover{
    transition: .5s;
    margin-top: 0;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
}

.pricing-article__title{
    height: 53px;
    line-height: 53px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    border: 2px solid #F5F5F5;
    background: #333;
}

.pricing-article__price{
    height: 88px;
    line-height: 88px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
    border: 2px solid #F5F5F5;
    background: #333;
}

.pricing-article__subheading{
    height: 45px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border: 2px solid #F5F5F5;
    background: #333;
}

.pricing-article__item{
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    border: 2px solid #F5F5F5;
    background: #FFF;
    height: 45px;
    line-height: 45px;
}