.social-media{
    width: 100%;
    background-color: #F8EFEF;
}

.social-media-wrapper{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.social-media-content{
    display: flex;
    flex-direction: column;
}

.social-media-content__title{
    height: 60px;
    line-height: 60px;
    color: #333;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.social-media-content__subheading{
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.social-media-links{
    display: flex;
    gap: 30px;
    margin: 35px 0;
}

.social-media-link:focus, .social-media-link:hover{
    opacity: .75;
    cursor: pointer;
}

.social-media-links-link-logo{
    width: 70px;
    height: 70px;
}


