@import 'mixins';

.awesome{
    width: 100%;
    padding-bottom: 58px;
}

.awesome-wrapper{
    @include adaptiv-width(1170, 288);
    margin: 0 auto;
}

.awesome-article-wrapper{
    background-color: white;
}

.awesome-article-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.awesome-article{
    // width: 369px;
    @include adaptiv-width(368, 288);
    text-align: center;
}

.awesome-article__title {
    font-family: Open Sans;
    font-weight: 700;
    text-align: center;
    // font-size: 24px;
    @include adaptiv-font(24, 18);
    height: 100px;
    line-height: 100px;
    margin-bottom: 8px;
}

.awesome-article__text {
    font-family: Raleway;
    font-weight: 400;
    text-align: center;
    // font-size: 18px;
    @include adaptiv-font(18, 14);
}

@media (max-width: 700px) {
    .awesome-article-wrapper{
        justify-content: center;
    }
}