@import 'mixins';

.design{
    width: 100%;
    background-image: url(/src/images/design.png);
}

.design-wrapper{
    width: 100%;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
}

.design-wrapper .section__title{
    color: #FFF;
}

.design-wrapper .section-separator{
    border: .5px solid #FFF;
}

.design-wrapper .section__subheading{
    color: #FFF;
    margin-bottom: 73px;
}

.design__button{
    // width: 370px;
    @include adaptiv-width(370, 288);
    // height: 58px;
    @include adaptiv-height(58, 50);    
    // line-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid #FFF;
    margin: 0 auto;
}

.design__button:focus, .design__button:hover{
    opacity: .75;
    cursor: pointer;
}

