@import 'mixins';

.footer{
    width: 100%;
    background-color: #000;
    padding-top: 35px;
    padding-bottom: 27px;
    height: 164px;
}

.footer-wrapper{
    // width: 1170px;
    @include adaptiv-width(1170, 288);
    margin: 0 auto;
}

.footer-links{
    display: flex;
    // gap: 30px;
    @include adaptiv-gap(30, 17);
    margin-bottom: 27px;
    justify-content: center;
}

.footer-link:focus, .footer-link:hover{
    opacity: .75;
    cursor: pointer;
}

.footer-links-link-logo{
    // width: 53.2px;
    @include adaptiv-width(53.2, 26);
    // height: 53.2px;
    @include adaptiv-height(53.2, 26);
}

.footer__subheading{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    // font-size: 18px;
    @include adaptiv-font(18, 14);
    font-weight: 400;
}