@import 'mixins';

.header{
    width: 100%;
    background-color: #000;
    height: 75px;
}

.header-wrapper{
    // width: 1170px;
    @include adaptiv-width(1170, 288);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;
    list-style: none;
}

.header-nav-item{
    width: 134px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

.header-nav-item__link{
    text-decoration: none;
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    transition: 1s;
}

.header-nav-item__link:focus, .header-nav-item__link:hover{
    opacity: .75;
    cursor: pointer;
}

.header-burger{
    display: none;
    width: 24px;
    height: 18px;
    margin-right: 35px;
    background-image: url(/src/images/burger.svg);
}

@media (max-width: 1000px) {
    .header-nav{
        display: none;
    }

    .header-burger{
        display: block;
    }
}